Source: maemo-security-certman-applet
Section: user/other
Priority: extra
Maintainer:  Juhani Mäkelä <ext-juhani.3.makela@nokia.com>
Build-Depends-Indep: gettext
Build-Depends: debhelper (>= 5), autotools-dev, osso-af-settings, libosso-dev (>= 1.0.2-1), libhildon1-dev (>= 0.9.9-6), hildon-control-panel-dev (>= 1.0.0-1), libdbus-glib-1-2 (>= 0.60-1osso1), libhildonfm2-dev, libmaemosec-dev(>= 0.0.9), libmaemosec-certman-dev (>= 0.0.9), libssl-dev
Standards-Version: 3.7.2

Package: maemosec-certman-applet
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, hildon-control-panel (>= 1.0.0), osso-icons, ke-recv-l10n-mr | ke-recv-l10n-mr0, osso-applet-certman-l10n-mr | osso-applet-certman-l10n-mr0
Description: Control Panel Certificate Manager plugin
 Certificate Manager for Control Panel.

Package: maemosec-certman-applet-dbg
Section: devel
Architecture: any
Depends: maemosec-certman-applet (= ${Source-Version})
Description: Debug symbols for the control panel certificate manager plugin
 Debug symbols for the control panel certificate manager plugin

Package: libmaemosec-certman-applet0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, hildon-control-panel (>= 1.0.0), osso-icons, ke-recv-l10n-mr | ke-recv-l10n-mr0, osso-applet-certman-l10n-mr | osso-applet-certman-l10n-mr0
Description: Certificate manager external UI library.
 Certificate manager external UI library.

Package: libmaemosec-certman-applet0-dbg
Section: libdevel
Architecture: any
Depends: libmaemosec-certman-applet0 (= ${Source-Version})
Description: Debug symbols for the certificate manager external UI library.
 Debug symbols for the certificate manager external UI library.

Package: libmaemosec-certman-applet-dev
Section: devel
Architecture: any
Depends: libglib2.0-dev, libhildon1-dev, libmaemosec-certman-applet0, libmaemosec-certman-dev
Description: Header files for Certificate Manager UI.
 Contains files, which can be helpful when developing software, 
 that needs certificate management UI services.
